body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3a4449, #5193bf);/*fentrol lefele sziint valt*/
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container, .form-container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

button {
    background: #3498db;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #0098b3;
}

.weather-info {
    margin-top: 20px;
    text-align: left;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.weather-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #133220;
}

.weather-info p {
    font-size: 1rem;
    margin: 5px 0;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 150px;
    text-align: center;
    color: #333;
}

p {
    margin-top: 10px;
}

a {
    color: #fff;
    text-decoration: underline;
}

.forecast {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.day {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    width: 150px;
}

.day h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.day p {
    margin: 5px 0;
    font-size: 1rem;
}

